{% extends 'base.html' %}

{% load static %}

{% block header_title %}
    Panel de Gestión
{% endblock %}

{% block extra_styles %}
    <link href="{% static 'dashboards/css/admin_dashboard_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="card">
        <h5 class="card-title">Agregar Producto</h5>
        <p class="card-text">Añade un nuevo producto.</p>
        <a href="{% url 'add_products' %}" class="btn-custom">Agregar Producto</a>
    </div>

    <div class="card">
        <h5 class="card-title">Listar Productos</h5>
        <p class="card-text">Revisa, tus productos.</p>
        <a href="{% url 'list_products' %}" class="btn-custom">Listar Productos</a>
    </div>

    <div class="card">
        <h5 class="card-title">Agregar Cliente</h5>
        <p class="card-text">Añade un nuevo cliente al sistema.</p>
        <a href="{% url 'agregar_cliente' %}" class="btn-custom">Agregar Cliente</a>
    </div>

    <div class="card">
        <h5 class="card-title">Listar Clientes</h5>
        <p class="card-text">Revisa, edita o elimina tus clientes.</p>
        <a href="{% url 'listar_clientes' %}" class="btn-custom">Listar Clientes</a>
    </div>

    <div class="card">
        <h5 class="card-title">Crear Nueva Categoría</h5>
        <p class="card-text">Añade una nueva categoría para tus productos.</p>
        <a href="{% url 'add_category' %}" class="btn-custom">Crear Categoría</a>
    </div>

    <div class="card">
        <h5 class="card-title">Reportes</h5>
        <p class="card-text">Genera reportes detallados del inventario y más.</p>
        <a href="{% url 'reports_dashboard' %}" class="btn-custom">Ir a Reportes</a>
    </div>
</div>

{% endblock %}
