{% extends 'base.html' %}

{% load static %}

{% block header_title %}
    Gestión de Ventas
{% endblock %}

{% block extra_styles %}
    <link href="{% static 'dashboards/css/cashier_dashboard_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Dashboard Cajero{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <!-- Nueva Venta -->
        <div class="card">
            <h5 class="card-title">Nueva Venta</h5>
            <p class="card-text">Inicia una nueva transacción de venta.</p>
            <a href="{% url 'sales:new_sale' %}" class="btn-custom">Iniciar Venta</a>
        </div>

        <!-- Buscar Venta -->
        <div class="card">
            <h5 class="card-title">Buscar Venta</h5>
            <p class="card-text">Localiza ventas anteriores en el sistema.</p>
            <a href="{% url 'sales:buscar_venta' %}" class="btn-custom">Buscar Venta</a>
        </div>

        <!-- Listar Productos -->
        <div class="card">
            <h5 class="card-title">Listar Productos</h5>
            <p class="card-text">Consulta los productos disponibles en inventario.</p>
            <a href="{% url 'listar_productos' %}" class="btn-custom">Ver Productos</a>
        </div>
    </div>
{% endblock %}
