{% extends 'base.html' %}

{% block title %}Dashboard Cajero{% endblock %}

{% block header %}Dashboard Cajero{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de Ventas</h2>
    <p class="text-center mb-4">Aquí puedes gestionar ventas y otras tareas relacionadas.</p>

    <div class="d-flex justify-content-center flex-wrap">
        <!-- Botón para iniciar una nueva venta -->
        <a href="{% url 'sales:new_sale' %}" class="btn btn-executive mx-2">Nueva Venta</a>

        <!-- Botón para buscar ventas -->
        <a href="{% url 'sales:buscar_venta' %}" class="btn btn-executive mx-2">Buscar Venta</a>

        <!-- Botón para listar productos -->
        <a href="{% url 'listar_productos' %}" class="btn btn-executive mx-2">Listar Productos</a>
    </div>
</div>
{% endblock %}
