* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.header {
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 2px solid #e0e0e0;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
    text-align: center;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
}

.logo {
    width: 180px;
    height: auto;
}

.brand-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.logout-button {
    background: none;
    border: none;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
}

.logout-button:hover {
    color: #0056b3;
}

.footer {
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-top: 2px solid #e0e0e0;
}

.footer-content span {
    margin: 0 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header-left,
    .header-center,
    .header-right {
        flex: none;
        margin-bottom: 10px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-content span {
        margin-bottom: 5px;
    }
}