html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    display: grid; 
    min-height: 100vh; 
    grid-template-rows: auto 1fr auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
}

header {
    background-color: #0B0704; 
    color: white !important;
}

nav.navbar .navbar-brand {
    color: white; 
}

.nav-link{
    color: white;
}

.navbar-toggler-icon{
    color: white;
}

.content {
    padding: 0px; 
}

footer {
    max-height: 100px;
    padding: 10px 0; 
    background-color: #0B0704; 
    color: white; 
    text-align: center; 
}
