* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {
    background-color: #0B0704;
    color: white !important;
}

nav.navbar .navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.content {
    padding: 0px;
    flex: 1;
}

footer {
    padding: 10px 0;
    background-color: #0B0704;
    color: white;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.footer-content span {
    margin: 0 15px;
}