{% load static %}

{% load custom_filters %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - El Almacenero</title>
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'accounts/css/login_custom_styles.css' %}" rel="stylesheet">  <!-- Tu archivo personalizado -->

    
</head>
<body>
    <div class="container login-container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="login-form">
                    <h2 class="text-center">Iniciar Sesión</h2>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Django form rendering with Bootstrap form-control class -->
                        <div class="form-group floating-label">
                            <input type="text" id="username" name="username" class="form-control" required placeholder=" ">
                            <label for="username">Usuario</label>
                        </div>
                        <div class="form-group floating-label">
                            <input type="password" id="password" name="password" class="form-control" required placeholder=" ">
                            <label for="password">Contraseña</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (Opcional si no necesitas componentes JS de Bootstrap) -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
