{% extends 'base.html' %}
{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="my-4 text-center">Lista de Clientes</h2>

    <!-- Barra de búsqueda -->
    <div class="d-flex justify-content-start mb-3">
        <form method="GET" action="{% url 'listar_clientes' %}" class="form-inline position-relative">
            <input type="text" name="query" class="form-control" 
                placeholder="Buscar por nombre, teléfono, email, dirección" 
                value="{{ request.GET.query }}" style="padding-right: 40px; width: 300px;">
            
            <button type="submit" class="btn p-0 position-absolute" style="right: -45px; top: 50%; transform: translateY(-50%); background: transparent; border: none;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <!-- Tabla de clientes -->
    <table class="table table-bordered table-striped">
        <thead>
            <thead>
                <tr>
                    {% if is_admin %}
                        <th>Acciones</th>
                    {% endif %}
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Cuenta Corriente</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    {% if is_admin %}
                        <td>
                            <a href="{% url 'editar_cliente' cliente.pk %}" class="text-warning mx-2" title="Editar">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <form action="{% url 'eliminar_cliente' cliente.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="text-danger mx-2" title="Eliminar">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    {% endif %}
                    <td>{{ cliente.nombre }}</td>
                    <td>{% for direccion in cliente.direcciones.all %}{{ direccion.direccion }}{% endfor %}</td>
                    <td>{% for telefono in cliente.telefonos.all %}{{ telefono.numero }}{% endfor %}</td>
                    <td>{% for email in cliente.emails.all %}{{ email.email }}{% endfor %}</td>
                    <td>
                        {% if cliente.cuentas_corrientes.first %}
                            Saldo: {{ cliente.cuentas_corrientes.first.saldo }}
                        {% else %}
                            Sin cuenta
                        {% endif %}
                    </td>
                    {% comment %} <td>
                        {% for cuenta in cliente.cuenta_corriente.all %}
                            Saldo: {{ cuenta.saldo }} <br>
                            Fecha Apertura: {{ cuenta.fecha_apertura }}
                        {% endfor %}
                    </td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
            
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            Mostrando {{ clientes.paginator.count }} resultados en total
        </div>
        <div>
            <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Volver al Dashboard</a>
            {% if is_admin %}
                <a href="{% url 'agregar_cliente' %}" class="btn btn-primary">Agregar Cliente</a>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        {% if clientes.has_previous %}
            <a href="?page={{ clientes.previous_page_number }}&query={{ request.GET.query }}" class="btn btn-light">Anterior</a>
        {% endif %}
        <span class="mx-2">Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}</span>
        {% if clientes.has_next %}
            <a href="?page={{ clientes.next_page_number }}&query={{ request.GET.query }}" class="btn btn-light">Siguiente</a>
        {% endif %}
    </div>
</div>
{% endblock %}
