{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link href="{% static 'clients/css/list_clients_styles.css'  %}" rel="stylesheet">
{% endblock %}

{% block header_title %}
    Listado de Clientes
{% endblock %}

{% block content %}

<div class="container">
    <!-- Barra de búsqueda -->
    <div class="search-form">
        <form method="GET" action="{% url 'listar_clientes' %}" class="search-form">
            <input 
                type="text" 
                name="query" 
                placeholder="Buscar por nombre, teléfono, email, dirección" 
                value="{{ request.GET.query }}" 
                aria-label="Buscar clientes">
            <button type="submit" class="search-button" aria-label="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <!-- Tabla de clientes -->
    <div class="table-container">
        <table class="client-table">
            <thead>
                <tr>
                    {% if is_admin %}
                        <th>Acciones</th>
                    {% endif %}
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Cuenta Corriente</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    {% if is_admin %}
                        <td class="actions">
                            <a href="{% url 'editar_cliente' cliente.pk %}" class="edit-icon" title="Editar">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <form action="{% url 'eliminar_cliente' cliente.pk %}" method="post" class="delete-form">
                                {% csrf_token %}
                                <button type="submit" class="delete-icon" title="Eliminar">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    {% endif %}
                    <td>{{ cliente.nombre }}</td>
                    <td>{% for direccion in cliente.direcciones.all %}{{ direccion.direccion }}{% endfor %}</td>
                    <td>{% for telefono in cliente.telefonos.all %}{{ telefono.numero }}{% endfor %}</td>
                    <td>{% for email in cliente.emails.all %}{{ email.email }}{% endfor %}</td>
                    <td>{{ cliente.cuenta_corriente_cc.saldo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Opciones adicionales -->
    <div class="actions-bar">
        <div class="results-info">
            Mostrando {{ clientes.paginator.count }} resultados en total
        </div>
        <div class="buttons">
            <a href="{% url 'admin_dashboard' %}" class="button secondary">Volver al Dashboard</a>
            {% if is_admin %}
                <a href="{% url 'agregar_cliente' %}" class="button primary">Agregar Cliente</a>
            {% endif %}
        </div>
    </div>

    <!-- Navegación -->
    <div class="pagination">
        {% if clientes.has_previous %}
            <a href="?page={{ clientes.previous_page_number }}&query={{ request.GET.query }}" class="pagination-link">Anterior</a>
        {% endif %}
        <span class="pagination-info">Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}</span>
        {% if clientes.has_next %}
            <a href="?page={{ clientes.next_page_number }}&query={{ request.GET.query }}" class="pagination-link">Siguiente</a>
        {% endif %}
    </div>
</div>

{% endblock %}
