{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Dashboard{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base_styles.css' %}" rel="stylesheet">
    <link href="{% static '/dashboards/css/admin_dashboard_styles.css' %}" rel="stylesheet">
    <link href="{% static '/sales/css/new_sale_styles.css' %}" rel="stylesheet"/>
    <link href="{% static '/products/css/add_product_styles.css' %}" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">La Señora del Saláme</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'stock_control' %}">Control de Stock</a> {% endcomment %}
                    </li>
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'add_product' %}">Cargar Productos</a> {% endcomment %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Otras Funcionalidades</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
                    </form>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <h1 class="text-center">{% block header %}Bienvenido{% endblock %}</h1>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-light py-3">
        <div class="container d-flex justify-content-between">
            <span>Usuario: {{ user.username }}</span>
            <span id="datetime"></span> 
        </div>
    </footer>

    {% comment %} <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script> {% endcomment %}

    <script>
        function updateDateTime() {
            const now = new Date();
            const dateTimeString = now.toLocaleString('es-ES', { dateStyle: 'full', timeStyle: 'short' });
            document.getElementById('datetime').textContent = dateTimeString;
        }

        updateDateTime();
        setInterval(updateDateTime, 1000);
    </script>
</body>
</html>
