.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  gap: 0; /* Si es necesario, ajusta el gap */
  margin: 0; /* Elimina márgenes que puedan estar afectando el ancho */
  width: 100%;
}

/* .row.g-0 {
  margin: 0;
  padding: 0;
  width: 100%;
} */

.col-md-6 {
  padding: 15px;
  max-width: 100%;
  flex: 1;  /* Hace que la columna ocupe el mismo espacio */
}

.col-12 {
  padding: 15px;
}

/* Estilos para las listas */
#product-list {
  max-height: 400px;
  overflow-y: auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.product-info,
.product-quantity,
.product-total {
  flex: 1;
  text-align: center;
}

/* Estilos generales */
.product-price, .product-name {
  font-weight: bold;
}

/* Video */
#video {
  border: 2px solid #007bff;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Botón de volver */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Total de la compra */
#total-compra {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28a745;
  text-align: center;
}