.ticket-container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #000;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el header del ticket */
.ticket-header {
    text-align: center;
    margin-bottom: 20px;
}

.ticket-header h1,
.ticket-header h2 {
    text-align: center;
    margin: 0;
}

.ticket-header p {
    font-size: 14px;
    margin: 5px 0;
}

/* Estilo para el body del ticket */
.ticket-body {
    text-align: right;
}

.ticket-body .ticket-details {
    text-align: left;
    margin-bottom: 20px;
}

.ticket-body h3 {
    text-align: right;
    margin-top: 20px;
}

.ticket-body h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ticket-body p {
    font-size: 14px;
    margin: 5px 0;
}

/* Ajustamos la tabla para que todo su contenido esté justificado a la derecha */
.ticket-body table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: right;
}

/* Espaciado adecuado para celdas */
.ticket-body table th,
.ticket-body table td {
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Encabezados con fondo */
.ticket-body table th {
    background-color: #f4f4f4;
}

/* Alineación de los datos de la tabla */
.ticket-body table td {
    text-align: right;
}

/* Espaciado entre las columnas */
.ticket-body table th {
    width: 40%;
}

.ticket-body table td {
    width: 30%;
}

/* Alineación de precios */
.ticket-body table td {
    text-align: right;
}

/* Estilo del footer del ticket */
.ticket-footer {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.ticket-footer p {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
}

/* Estilo para el contenedor de los botones */
.ticket-buttons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    gap: 10px;
    align-items: flex-end;
}

/* Estilo para los botones */
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-whatsapp {
    background-color: #25D366;
    color: white;
}

.btn-email {
    background-color: #007BFF;
    color: white;
}

.btn-terminar {
    background-color: #28a745;
    color: white;
}

/* Efecto de hover */
.btn:hover {
    background-color: #0056b3;
}