{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Agregar Producto</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}  <!-- Clase adicional para los inputs -->
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                <div class="mb-3"></div>  <!-- Espaciado entre inputs -->
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success btn-block">Agregar Producto</button>
    </form>
    
    <div class="mt-3 text-center">
        <a href="{% url 'listar_productos' %}" class="btn btn-secondary">Volver al listado</a>
    </div>

    <!-- Botón para volver al dashboard -->
    <div class="mt-2 text-center">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Volver al Dashboard</a>
    </div>
</div>
{% endblock %}
