{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% block extra_styles %}
    <link href="{% static 'products/css/edit_products_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">Editar Producto</h1>
    <form method="post" enctype="multipart/form-data" class="form" id="product-form">
        {% csrf_token %}
        
        <div class="form-details-container">
            <!-- Columna izquierda: Nombre, Descripción, Costo, Porcentaje -->
            <div class="form-column-left">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Detalles del Producto</legend>
                    
                    <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
                        {{ form.nombre|add_class:"form-input" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripción</label>
                        {{ form.descripcion|add_class:"form-input descripcion" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.costo.id_for_label }}" class="form-label">Costo</label>
                        {{ form.costo|add_class:"form-input" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.porcentaje_ganancia.id_for_label }}" class="form-label">Porcentaje de Ganancia</label>
                        {{ form.porcentaje_ganancia|add_class:"form-input" }}
                    </div>
                </fieldset>
            </div>

            <!-- Columna derecha: Resto de los campos (Stock, Categoría, Opciones adicionales, Imagen) -->
            <div class="form-column-right">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Opciones adicionales</legend>
                    <div class="form-group">
                        <label for="{{ form.se_vende_fraccionado.id_for_label }}" class="form-label">¿El producto se vende fraccionado?</label>
                        {{ form.se_vende_fraccionado|add_class:"custom-checkbox" }}
                    </div>
                </fieldset>

                <fieldset class="form-fieldset">
                    <legend class="form-legend">Cantidad de Stock</legend>
                    <div class="form-group">
                        <label for="{{ form.cantidad_stock.id_for_label }}" class="form-label">Cantidad de Stock</label>
                        {{ form.cantidad_stock|add_class:"form-input" }}
                    </div>
                </fieldset>

                <fieldset class="form-fieldset">
                    <legend class="form-legend">Categoría</legend>
                    <div class="form-group">
                        <label for="{{ form.categoria.id_for_label }}" class="form-label">Categoría</label>
                        {{ form.categoria|add_class:"form-input" }}
                    </div>
                </fieldset>

                <fieldset class="form-fieldset">
                    <legend class="form-legend">Imagen del Producto</legend>
                    <div class="form-group">
                        <label for="{{ form.imagen.id_for_label }}" class="form-label">Subir Imagen</label>
                        {{ form.imagen|add_class:"form-file-input" }}
                        {% if form.imagen.errors %}
                            <div class="form-error">{{ form.imagen.errors|striptags }}</div>
                        {% endif %}
                        {% if form.imagen.help_text %}
                            <small class="form-help-text">{{ form.imagen.help_text }}</small>
                        {% endif %}
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Botones -->
        <div class="form-buttons">
            <button type="submit" class="form-btn form-btn-success">Guardar Cambios</button>
            <a href="{% url 'listar_productos' %}" class="form-btn form-btn-secondary">Volver al listado</a>
            <a href="{% url 'dashboard:admin_dashboard' %}" class="form-btn form-btn-primary">Volver al Dashboard</a>
        </div>
    </form>
</div>
{% endblock %}
