{% extends 'base.html' %}
{% block title %}Listado de Productos{% endblock %}
{% block content %}

<div class="container mt-4">
    <h1>Listado de Productos</h1>

    <!-- Filtro de Categoría -->
    <form method="GET" action="{% url 'listar_productos' %}" class="mb-4">
        <label for="categoria">Filtrar por Categoría:</label>
        <select name="categoria" id="categoria" class="form-control" onchange="this.form.submit()">
            <option value="">Todas</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == request.GET.categoria %}selected{% endif %}>
                    {{ categoria.nombre }}
                </option>
            {% endfor %}
        </select>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad en Stock</th>
                <th>Fraccionado</th>
                <th>Categoría</th> <!-- Nueva columna de categoría -->
                <th>QR</th>
                {% if es_administrador %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>${{ producto.precio_venta }}</td>
                <td>{{ producto.cantidad_stock }}</td>
                <td>{{ producto.se_vende_fraccionado|yesno:"Sí,No" }}</td>
                <td>{{ producto.categoria.nombre }}</td> <!-- Mostrar nombre de la categoría -->
                <td>
                    <img src="{{ producto.qr_code.url }}" alt="QR Producto {{ producto.nombre }}" width="100">
                </td>
                {% if is_admin %}
                    <td>
                        <a href="{% url 'editar_producto' producto.pk %}" class="btn btn-warning">Editar</a>
                        <form action="{% url 'eliminar_producto' producto.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para volver al dashboard -->
    <div class="mt-4 text-center">
        {% if is_admin %}
            <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Volver al Dashboard Admin</a>
        {% elif is_cashier %}
            <a href="{% url 'cashier_dashboard' %}" class="btn btn-primary">Volver al Dashboard Cajero</a>
        {% else %}
            <a href="{% url 'user_dashboard' %}" class="btn btn-primary">Volver al Dashboard Usuario</a>
        {% endif %}
    </div>
</div>

{% endblock %}
