{% extends 'base.html' %}

{% load static %}

{% block header_title %}
    Gestión de Categorías
{% endblock %}

{% block extra_styles %}
    <link href="{% static 'products/css/list_category_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="dashboard-container">

        <div class="categories-container">
            <table class="categories-table">
                <thead>
                    <tr>
                        <th>Acciones</th> <!-- Cambié la posición de la columna de acciones -->
                        <th>ID</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td class="actions">
                            <!-- Iconos para editar y eliminar -->
                            <a href="{% url 'editar_categoria' categoria.id %}" class="icon-edit" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'eliminar_categoria' categoria.id %}" class="icon-delete" onclick="return confirm('¿Seguro que deseas eliminar esta categoría?')" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Botón para volver al Dashboard (ubicado a la derecha abajo) -->
        <div class="back-button-container">
            <a href="{% url 'dashboard:admin_dashboard' %}" class="form-btn form-btn-primary">Volver al Dashboard</a>
        </div>
    </div>
{% endblock %}
