{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
    <link href="{% static 'products/css/list_products_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Listado de Productos{% endblock %}

{% block content %}

<div class="container">
    <h1>Listado de Productos</h1>

    <!-- Filtro de Categoría -->
    <form method="GET" action="{% url 'listar_productos' %}" class="filter-form">
        <label for="categoria">Filtrar por Categoría:</label>
        <select name="categoria" id="categoria" onchange="this.form.submit()">
            <option value="">Todas</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == request.GET.categoria %}selected{% endif %}>
                    {{ categoria.nombre }}
                </option>
            {% endfor %}
        </select>
    </form>

    <table class="table">
        <thead>
            <tr>
                {% if is_admin %}
                    <th>Acciones</th>
                {% endif %}
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad en Stock</th>
                <th>Fraccionado</th>
                <th>Categoría</th> <!-- Nueva columna de categoría -->
                <th>QR</th>    
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                {% if is_admin %}
                    <td>
                        <a href="{% url 'edit_products' producto.pk %}" class="text-warning me-2">
                            <i class="fa-regular fa-pen-to-square"></i> <!-- Icono de editar -->
                        </a>
                        <form action="{% url 'delete_product' producto.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="text-danger" style="border: none; background: none; padding: 0;">
                                <i class="fa-solid fa-trash"></i> <!-- Icono de eliminar -->
                            </button>
                        </form>
                        <a href="#" class="text-info" data-bs-toggle="modal" data-bs-target="#detalleModal{{ producto.pk }}">
                            <i class="fa-solid fa-info-circle"></i> <!-- Icono para ver detalles -->
                        </a>
                    </td>
                {% else %}
                <td>
                    <a href="#" class="text-info" data-bs-toggle="modal" data-bs-target="#detalleModal{{ producto.pk }}">
                        <i class="fa-solid fa-info-circle"></i> <!-- Icono para ver detalles -->
                    </a>
                </td>
                {% endif %}
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>${{ producto.precio_venta }}</td>
                <td>{{ producto.cantidad_stock }}</td>
                <td>{{ producto.se_vende_fraccionado|yesno:"Sí,No" }}</td>
                <td>{{ producto.categoria.nombre }}</td> <!-- Mostrar nombre de la categoría -->
                <td>
                    <img src="{{ producto.qr_code.url }}" alt="QR Producto {{ producto.nombre }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   <!-- Modal para mostrar detalles -->
    {% for producto in productos %}
    <div class="modal fade" id="detalleModal{{ producto.pk }}" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalleModalLabel">Detalles del Producto: {{ producto.nombre }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Imagen del Producto -->
                        <div class="col-md-4">
                            <img src="{% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static 'products/images/no_image.jpeg' %}{% endif %}" alt="{{ producto.nombre }}" class="img-fluid">

                        </div>
                        <div class="col-md-8">
                            <!-- Descripción del Producto -->
                            <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                            <p><strong>Precio:</strong> ${{ producto.precio_venta }}</p>
                            <p><strong>Stock disponible:</strong> {{ producto.cantidad_stock }}</p>
                            <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Botón para volver al dashboard -->
    <div class="mt-4 text-center">
        {% if is_admin %}
            <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Volver al Dashboard Admin</a>
        {% elif is_cashier %}
            <a href="{% url 'cashier_dashboard' %}" class="btn btn-primary">Volver al Dashboard Cajero</a>
        {% else %}
            <a href="{% url 'user_dashboard' %}" class="btn btn-primary">Volver al Dashboard Usuario</a>
        {% endif %}
    </div>
</div>

{% endblock %}