/* .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

.btn-primary {
    margin-top: 10px;
}

.btn-secondary {
    margin-top: 10px;
    margin-left: 10px;
}