.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 8px;
    gap: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.search-form input {
    flex-grow: 1;
    max-width: 300px;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-form .search-button {
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form .search-button:hover {
    background-color: #2980b9;
}

.actions-bar {
    display: flex;
    gap: 10px;
}

.actions-bar .button {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.actions-bar .button.primary {
    background-color: #3498db;
}

.actions-bar .button.primary:hover {
    background-color: #2980b9;
}

.actions-bar .button.secondary {
    background-color: #7f8c8d;
}

.actions-bar .button.secondary:hover {
    background-color: #95a5a6;
}

.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.client-table th,
.client-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.client-table th {
    background-color: #2980b9;
    color: #fff;
    font-weight: 600;
}

.client-table tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
}

.client-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.actions {
    display: flex; /* Usar flexbox para alinearlos en fila */
    align-items: center; /* Alineación vertical si es necesario */
    gap: 10px; /* Espaciado entre los íconos */
}

.actions .edit-icon,
.actions .delete-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.actions .edit-icon:hover {
    color: #e67e22;
}

.actions .delete-icon:hover {
    color: #e74c3c;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-link {
    margin: 0 10px;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

.pagination-link:hover {
    color: #2980b9;
}

.pagination-info {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .search-bar-container {
        flex-direction: column;
        align-items: stretch;
    }

    .actions-bar {
        justify-content: flex-start;
        margin-top: 10px;
    }
}
